<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carpool</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/CSS/styles.css">
    
</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

</nav>
<body>

<!-- Top Navigation Bar -->
<div id="banner" style="display: none;" role="alert">
    <span id="bannerMessage"></span>
    <span id="bannerClose" style="cursor: pointer;">&times;</span>
</div>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark"></nav>


<!-- Table -->
<div class="container mt-4">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Arrived At</th>
            </tr>
        </thead>
        <tbody>
           
        </tbody>
    </table>
</div>

<!-- Bootstrap JS and Popper.js -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/JS/carpool.js"></script>
</body>
</html>
